

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-520218058875208627.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-520218058875208627.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-520218058875208627.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-520218058875208627.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-520218058875208627.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-520218058875208627.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-520218058875208627.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-520218058875208627.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-520218058875208627.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-520218058875208627.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-520218058875208627.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-520218058875208627.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-520218058875208627.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-520218058875208627.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-520218058875208627.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-520218058875208627.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-520218058875208627.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-520218058875208627.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-520218058875208627.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-520218058875208627.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-520218058875208627.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-520218058875208627.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-520218058875208627.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-520218058875208627.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-520218058875208627.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-520218058875208627.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-520218058875208627.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-520218058875208627.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-520218058875208627.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-520218058875208627.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-520218058875208627.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-520218058875208627.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-520218058875208627.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-520218058875208627.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-520218058875208627.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-520218058875208627.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-520218058875208627.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-520218058875208627.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-520218058875208627.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-520218058875208627.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-520218058875208627.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-520218058875208627.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-520218058875208627.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1023px){.gps-520218058875208627.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-520218058875208627.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-520218058875208627.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-520218058875208627.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-520218058875208627.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-520218058875208627.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-520218058875208627.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-520218058875208627.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-520218058875208627.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-520218058875208627.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-520218058875208627.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-520218058875208627.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-520218058875208627.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-520218058875208627.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-520218058875208627.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-520218058875208627 .gp-relative{position:relative}.gps-520218058875208627 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-520218058875208627 .gp-mb-0{margin-bottom:0}.gps-520218058875208627 .\!gp-inline{display:inline!important}.gps-520218058875208627 .gp-flex{display:flex}.gps-520218058875208627 .gp-grid{display:grid}.gps-520218058875208627 .\!gp-hidden{display:none!important}.gps-520218058875208627 .gp-hidden{display:none}.gps-520218058875208627 .gp-h-full{height:100%}.gps-520218058875208627 .gp-w-full{width:100%}.gps-520218058875208627 .gp-max-w-full{max-width:100%}.gps-520218058875208627 .gp-flex-col{flex-direction:column}.gps-520218058875208627 .gp-gap-y-0{row-gap:0}.gps-520218058875208627 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-520218058875208627 .gp-duration-200{transition-duration:.2s}.gps-520218058875208627 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-520218058875208627 .tablet\:\!gp-hidden{display:none!important}.gps-520218058875208627 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-520218058875208627 .mobile\:\!gp-hidden{display:none!important}.gps-520218058875208627 .mobile\:gp-hidden{display:none}}.gps-520218058875208627 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-520218058875208627 .\[\&_p\]\:gp-inline p{display:inline}.gps-520218058875208627 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-520218058875208627 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="i2l0b50b6b7be"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:rgb(254, 249, 243)"
        class="i2l0b50b6b7be gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-EZkfeVMRhvLZ gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="EZkfeVMRhvLZ"
        style="--b:solid;--bc:rgb(255, 250, 244);--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:16px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-tablet:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:rgb(246, 240, 231)"
        class="EZkfeVMRhvLZ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="c-PBmmOySDTekn gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image PBmmOySDTekn"
    style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageqtylvlxizv.png" width="248" height="101" alt="Alt image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:248/101;--aspect-tablet:248/101;--aspect-mobile:248/101;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageqtylvlxizv.png" data-srcset="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageqtylvlxizv.png 768w,https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageqtylvlxizv.png 1024w,https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageqtylvlxizv.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="248" height="101" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:248/101;--aspect-tablet:248/101;--aspect-mobile:248/101;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="c-rwmgMLIkxKWk gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image rwmgMLIkxKWk"
    style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagevgsvlzjpcb.png" width="82" height="31" alt="Alt image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:82/31;--aspect-tablet:82/31;--aspect-mobile:82/31;--objf:cover;--w:82px;--w-tablet:82px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagevgsvlzjpcb.png" data-srcset="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagevgsvlzjpcb.png 768w,https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagevgsvlzjpcb.png 1024w,https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagevgsvlzjpcb.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="82" height="31" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:82/31;--aspect-tablet:82/31;--aspect-mobile:82/31;--objf:cover;--w:82px;--w-tablet:82px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="c-ZFEtesQxSLnI gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image ZFEtesQxSLnI"
    style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagemzecixrwqn.png" width="105" height="27" alt="Alt image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:105/27;--aspect-tablet:105/27;--aspect-mobile:105/27;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagemzecixrwqn.png" data-srcset="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagemzecixrwqn.png 768w,https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagemzecixrwqn.png 1024w,https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagemzecixrwqn.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="105" height="27" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:105/27;--aspect-tablet:105/27;--aspect-mobile:105/27;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="c-avNEcceGuymh gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="avNEcceGuymh "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:35px;--size-tablet:32px;--size-mobile:29px;--c:rgb(77, 77, 77);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gavNEcceGuymh_text }}</h2>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 10",
    "tag": "section",
    "class": "gps-520218058875208627 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/8c382c-87/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=520217924036723592&sectionId=520218058875208627)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"gavNEcceGuymh_text","label":"gavNEcceGuymh_text","default":"TOWN&COUNTRY"}],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
