

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-520218023005520995.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-520218023005520995.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-520218023005520995.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-520218023005520995.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-520218023005520995.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-520218023005520995.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-520218023005520995.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-520218023005520995.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-520218023005520995.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-520218023005520995.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-520218023005520995.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-520218023005520995.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-520218023005520995.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-520218023005520995.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-520218023005520995.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-520218023005520995.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-520218023005520995.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-520218023005520995.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-520218023005520995.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-520218023005520995.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-520218023005520995.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-520218023005520995.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-520218023005520995.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-520218023005520995.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-520218023005520995.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-520218023005520995.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-520218023005520995.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-520218023005520995.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-520218023005520995.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-520218023005520995.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-520218023005520995.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-520218023005520995.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-520218023005520995.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-520218023005520995.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-520218023005520995.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-520218023005520995.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-520218023005520995.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-520218023005520995.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-520218023005520995.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-520218023005520995.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-520218023005520995.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-520218023005520995.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-520218023005520995.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-520218023005520995.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-520218023005520995.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-520218023005520995.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-520218023005520995.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-520218023005520995.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-520218023005520995.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-520218023005520995.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-520218023005520995.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-520218023005520995 .gp-g-heading-2{font-family:var(--g-h2-ff);font-size:var(--g-h2-size);font-style:var(--g-h2-fs);font-weight:var(--g-h2-weight);letter-spacing:var(--g-h2-ls);line-height:var(--g-h2-lh)}.gps-520218023005520995 .gp-relative{position:relative}.gps-520218023005520995 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-520218023005520995 .gp-mb-0{margin-bottom:0}.gps-520218023005520995 .gp-flex{display:flex}.gps-520218023005520995 .gp-inline-flex{display:inline-flex}.gps-520218023005520995 .gp-grid{display:grid}.gps-520218023005520995 .\!gp-hidden{display:none!important}.gps-520218023005520995 .gp-hidden{display:none}.gps-520218023005520995 .gp-w-full{width:100%}.gps-520218023005520995 .gp-max-w-full{max-width:100%}.gps-520218023005520995 .gp-flex-col{flex-direction:column}.gps-520218023005520995 .gp-flex-wrap{flex-wrap:wrap}.gps-520218023005520995 .gp-items-center{align-items:center}.gps-520218023005520995 .gp-justify-center{justify-content:center}.gps-520218023005520995 .gp-gap-y-0{row-gap:0}.gps-520218023005520995 .gp-overflow-hidden{overflow:hidden}.gps-520218023005520995 .gp-leading-\[0\]{line-height:0}.gps-520218023005520995 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-520218023005520995 .gp-duration-200{transition-duration:.2s}.gps-520218023005520995 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-520218023005520995 .tablet\:\!gp-hidden{display:none!important}.gps-520218023005520995 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-520218023005520995 .mobile\:\!gp-hidden{display:none!important}.gps-520218023005520995 .mobile\:gp-hidden{display:none}}.gps-520218023005520995 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-520218023005520995 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1023px){.gps-520218023005520995 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-520218023005520995 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-520218023005520995 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-520218023005520995 .\[\&_p\]\:gp-inline p{display:inline}.gps-520218023005520995 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-520218023005520995 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="i2l5520c32871"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:rgb(245, 238, 230)"
        class="i2l5520c32871 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-i2l307788c036 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="i2l307788c036"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 9fr) minmax(0, 3fr);--gtc-tablet:minmax(0, 9fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="i2l307788c036 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-i2le703818b07 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="i2le703818b07"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-tablet:minmax(0, 5fr) minmax(0, 7fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="i2le703818b07 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-zZWJdoTdpxts gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="zZWJdoTdpxts "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:18px;--size-mobile:16px;--c:rgb(77, 77, 77);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gzZWJdoTdpxts_text }}</div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-sp-i2lb20077d771 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="sp-i2lb20077d771"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-i2lb20077d771 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2lb20077d771 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="ADFiLZmNpMNe "
        style="--ta:center;--mt:0px;--ml:0px;--mb:28px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-heading-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--c:rgb(77, 77, 77);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gADFiLZmNpMNe_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="tJuoOOCaDECy "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:18px;--size-mobile:16px;--c:rgb(0, 0, 0);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gtJuoOOCaDECy_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-i2l2df7333b9d gp-relative gp-flex gp-flex-col"
    >
      
    
      
      
    <div
      
      style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:8px;--pl:0px;--pb:76px;--pr:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">

    <div
            class="gp-flex gp-flex-wrap"
            style="--cg:8px;--jc:left">
            <div
      
      style=""
      class="c-icon_list_hoz_item-hmEOuiAIvqNH gp-relative gp-flex gp-flex-col"
    >
      <div style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px" class="icon_list_hoz_item-hmEOuiAIvqNH ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
      class="gp-leading-[0] hmEOuiAIvqNH"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:rgb(76, 76, 76);--t:rotate(0deg);--height-desktop:undefined;--height-tablet:undefined;--height-mobile:undefined"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg width='23' height='23' xmlns='http://www.w3.org/2000/svg'> <image href='https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagexicfryagox.png' height='23' width='23' /> </svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div>
    </div><div
      
      style=""
      class="c-icon_list_hoz_item-irjGvWKCKiIO gp-relative gp-flex gp-flex-col"
    >
      <div style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px" class="icon_list_hoz_item-irjGvWKCKiIO ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
      class="gp-leading-[0] irjGvWKCKiIO"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:rgb(75, 75, 75);--t:rotate(0deg);--height-desktop:undefined;--height-tablet:undefined;--height-mobile:undefined"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg width='23' height='23' xmlns='http://www.w3.org/2000/svg'> <image href='https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagegtjbkyrgjd.png' height='23' width='23' /> </svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div>
    </div>
         </div>
    </div>
  
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-520218023005520995 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/8c382c-87/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=520217924036723592&sectionId=520218023005520995)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"gzZWJdoTdpxts_text","label":"gzZWJdoTdpxts_text","default":"=MENU"},{"type":"html","id":"gADFiLZmNpMNe_text","label":"gADFiLZmNpMNe_text","default":"OPositivHealth"},{"type":"html","id":"gtJuoOOCaDECy_text","label":"gtJuoOOCaDECy_text","default":"SALE: Get 20% OFF! with code FIREWORKS Shop Now >"}],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
