

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-520218086943491171.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-520218086943491171.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-520218086943491171.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-520218086943491171.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-520218086943491171.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-520218086943491171.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-520218086943491171.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-520218086943491171.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-520218086943491171.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-520218086943491171.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-520218086943491171.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-520218086943491171.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-520218086943491171.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-520218086943491171.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-520218086943491171.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-520218086943491171.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-520218086943491171.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-520218086943491171.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-520218086943491171.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-520218086943491171.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-520218086943491171.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-520218086943491171.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-520218086943491171.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-520218086943491171.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-520218086943491171.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-520218086943491171.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-520218086943491171.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-520218086943491171.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-520218086943491171.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-520218086943491171.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-520218086943491171.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-520218086943491171.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-520218086943491171.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-520218086943491171.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-520218086943491171.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-520218086943491171.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-520218086943491171.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-520218086943491171.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-520218086943491171.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-520218086943491171.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-520218086943491171.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-520218086943491171.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-520218086943491171.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-520218086943491171.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-520218086943491171.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-520218086943491171.gps.gpsil [style*="--z:"]{z-index:var(--z)}@media only screen and (max-width:1023px){.gps-520218086943491171.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-520218086943491171.gps.gpsil [style*="--bga-tablet:"]{background-attachment:var(--bga-tablet)}.gps-520218086943491171.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-520218086943491171.gps.gpsil [style*="--bgp-tablet:"]{background-position:var(--bgp-tablet)}.gps-520218086943491171.gps.gpsil [style*="--bgr-tablet:"]{background-repeat:var(--bgr-tablet)}.gps-520218086943491171.gps.gpsil [style*="--bgs-tablet:"]{background-size:var(--bgs-tablet)}.gps-520218086943491171.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-520218086943491171.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-520218086943491171.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-520218086943491171.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-520218086943491171.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-520218086943491171.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-520218086943491171.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-520218086943491171.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-520218086943491171.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-520218086943491171.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-520218086943491171.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-520218086943491171.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-520218086943491171.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-520218086943491171.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-520218086943491171.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-520218086943491171.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-520218086943491171.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-520218086943491171.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-520218086943491171.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-520218086943491171.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-520218086943491171.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-520218086943491171.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-520218086943491171.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-520218086943491171.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-520218086943491171.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-520218086943491171.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-520218086943491171.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-520218086943491171.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-520218086943491171.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-520218086943491171 .gp-g-subheading-3{font-family:var(--g-sh3-ff);font-size:var(--g-sh3-size);font-style:var(--g-sh3-fs);font-weight:var(--g-sh3-weight);letter-spacing:var(--g-sh3-ls);line-height:var(--g-sh3-lh)}.gps-520218086943491171 .gp-invisible{visibility:hidden}.gps-520218086943491171 .gp-absolute{position:absolute}.gps-520218086943491171 .gp-relative{position:relative}.gps-520218086943491171 .gp-inset-0{inset:0}.gps-520218086943491171 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-520218086943491171 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-520218086943491171 .gp-z-1{z-index:1}.gps-520218086943491171 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-520218086943491171 .gp-mb-0{margin-bottom:0}.gps-520218086943491171 .\!gp-inline{display:inline!important}.gps-520218086943491171 .gp-flex{display:flex}.gps-520218086943491171 .gp-inline-flex{display:inline-flex}.gps-520218086943491171 .gp-grid{display:grid}.gps-520218086943491171 .\!gp-hidden{display:none!important}.gps-520218086943491171 .gp-hidden{display:none}.gps-520218086943491171 .gp-h-5{height:20px}.gps-520218086943491171 .gp-h-full{height:100%}.gps-520218086943491171 .gp-w-5{width:20px}.gps-520218086943491171 .gp-w-full{width:100%}.gps-520218086943491171 .gp-max-w-full{max-width:100%}.gps-520218086943491171 .gp-flex-col{flex-direction:column}.gps-520218086943491171 .\!gp-content-stretch{align-content:stretch!important}.gps-520218086943491171 .gp-items-center{align-items:center}.gps-520218086943491171 .\!gp-justify-start{justify-content:flex-start!important}.gps-520218086943491171 .\!gp-justify-center{justify-content:center!important}.gps-520218086943491171 .gp-justify-center{justify-content:center}.gps-520218086943491171 .gp-gap-y-0{row-gap:0}.gps-520218086943491171 .gp-overflow-hidden{overflow:hidden}.gps-520218086943491171 .gp-break-words{overflow-wrap:break-word}.gps-520218086943491171 .gp-rounded-none{border-radius:0}.gps-520218086943491171 .gp-bg-clip-content{background-clip:content-box}.gps-520218086943491171 .gp-no-underline{text-decoration-line:none}.gps-520218086943491171 .gp-opacity-25{opacity:.25}.gps-520218086943491171 .gp-opacity-75{opacity:.75}.gps-520218086943491171 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-520218086943491171 .gp-transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-520218086943491171 .gp-duration-200{transition-duration:.2s}.gps-520218086943491171 .gp-duration-300{transition-duration:.3s}.gps-520218086943491171 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-520218086943491171 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-520218086943491171 .hover\:gp-bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-520218086943491171 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-520218086943491171 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-520218086943491171 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-520218086943491171 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-520218086943491171 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-520218086943491171 .tablet\:gp-relative{position:relative}.gps-520218086943491171 .tablet\:\!gp-hidden{display:none!important}.gps-520218086943491171 .tablet\:gp-hidden{display:none}.gps-520218086943491171 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-520218086943491171 .tablet\:\!gp-justify-start{justify-content:flex-start!important}.gps-520218086943491171 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-520218086943491171 .mobile\:gp-relative{position:relative}.gps-520218086943491171 .mobile\:\!gp-hidden{display:none!important}.gps-520218086943491171 .mobile\:gp-hidden{display:none}.gps-520218086943491171 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-520218086943491171 .mobile\:\!gp-justify-start{justify-content:flex-start!important}.gps-520218086943491171 .mobile\:\!gp-justify-center{justify-content:center!important}}.gps-520218086943491171 .\[\&\>\*\]\:\!gp-justify-start>*{justify-content:flex-start!important}@media (max-width:1023px){.gps-520218086943491171 .tablet\:\[\&\>\*\]\:\!gp-justify-start>*{justify-content:flex-start!important}}@media (max-width:767px){.gps-520218086943491171 .mobile\:\[\&\>\*\]\:\!gp-justify-start>*{justify-content:flex-start!important}}.gps-520218086943491171 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-520218086943491171 .\[\&_p\]\:gp-inline p{display:inline}.gps-520218086943491171 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-520218086943491171 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-520218086943491171 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="i2l79b24b55f2"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:rgb(254, 249, 243)"
        class="i2l79b24b55f2 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-w-i2l79b24b55f2 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="w-i2l79b24b55f2"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="w-i2l79b24b55f2 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l367be17788 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="PBlBuJYUnxfA "
        style="--ta:center;--mt:0px;--ml:0px;--mb:40px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-subheading-3 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--c:rgb(77, 77, 77);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gPBlBuJYUnxfA_text }}</h2>
      </div>
    </div>
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:325px;--h-tablet:500px;--h-mobile:500px;--d:flex;--d-tablet:flex;--d-mobile:flex;--mt:0px;--ml:auto;--mb:0px;--mr:auto">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"size":"cover","type":"image","color":"","image":{"src":"https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagexqfyoebnhb.png","width":1260,"height":325},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"scroll"},"tablet":{"size":"cover","type":"image","color":"","image":{"src":"https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagexqfyoebnhb.png","width":1260,"height":325},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"scroll"},"mobile":{"size":"cover","type":"image","color":"","image":{"src":"https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagexqfyoebnhb.png","width":1260,"height":325},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"scroll"}},"uid":"rewrap_row_IyEDJRiMXgNY","enableParallax":false,"speedParallax":0.6}'
        
        class="rewrap_row_IyEDJRiMXgNY gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--d:flex;--d-tablet:flex;--d-mobile:flex;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--h:325px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden !gp-justify-start tablet:!gp-justify-start mobile:!gp-justify-start"
          style="--h:325px;--h-tablet:500px;--h-mobile:500px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none"
        >
          
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
      assign mediaIndex = 1
      if forloop
        assign mediaIndex = forloop.index
      endif
      assign sectionPreload = "false"

      if section.settings.section_preload == 'true'
        assign sectionPreload = "true"
      endif
      if sectionPreload == "true" and mediaIndex == 1
        assign isFetchPriorityHigh = 'true'
      endif
  -%}
  <picture style="border-radius: inherit" class="gp-w-full">
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagexqfyoebnhb.png" />
        <source media="(max-width: 1023px)" srcset="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagexqfyoebnhb.png" />
        <img
          title
          class=""
          src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagexqfyoebnhb.png"
          alt=""
          fetchpriority="high"
          style="--aspect:1260/325;--aspect-tablet:1260/325;--aspect-mobile:1260/325;--d:none;--d-tablet:none;--d-mobile:none;--h:325px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagexqfyoebnhb.png" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagexqfyoebnhb.png" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
      <img
        title
        class=" gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagexqfyoebnhb.png"
        alt=""
        style="--aspect:1260/325;--aspect-tablet:1260/325;--aspect-mobile:1260/325;--d:none;--d-tablet:none;--d-mobile:none;--h:325px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    {%- endif -%}
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-w-full gp-h-full"
              style="--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;clip-path:inset(0 0)">
              <div
                aria-label="Background Image"
                role="banner"
                class="gp-hero-banner-bg gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-transform gp-flex gp-items-center gp-justify-center gp-bg-clip-content"
                style="--bgi:url(https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagexqfyoebnhb.png);--bgi-tablet:url(https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagexqfyoebnhb.png);--bgi-mobile:url(https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagexqfyoebnhb.png);--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:110%;--top:0;--left:0;--w:100%;--h:100%;--pos:absolute;--bga:scroll;--w-tablet:100%;--h-tablet:100%;--pos-tablet:absolute;--bga-tablet:scroll;--w-mobile:100%;--h-mobile:100%;--pos-mobile:absolute;--bga-mobile:scroll"
              >  </div>
            </div>
            
          </div>
          
          
      
      
    <div
      id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;--cg:32px;--cg-tablet:32px;--pc:start;--pc-tablet:start;--pc-mobile:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined !gp-content-stretch [&>*]:!gp-justify-start tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-start mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-start gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-hb-rewrap_row_IyEDJRiMXgNY gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="sp-c-nsw-i2la3299fb4bb"
        style="--mt:80px;--ml:1px;--mb:auto;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-tablet:auto;--ml-tablet:auto;--mb-tablet:auto;--mr-tablet:auto;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:382px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-c-nsw-i2la3299fb4bb gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-nsw-i2la3299fb4bb gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image xGNTYQCfSEQJ"
    style="--mt:0px;--ml:0px;--mb:4px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagergkmdtowiv.png" width="93" height="33" alt="Alt image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:93/33;--aspect-tablet:93/33;--aspect-mobile:93/33;--objf:cover;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagergkmdtowiv.png" data-srcset="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagergkmdtowiv.png 768w,https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagergkmdtowiv.png 1024w,https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagergkmdtowiv.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="93" height="33" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:93/33;--aspect-tablet:93/33;--aspect-mobile:93/33;--objf:cover;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    <div
      parentTag="Col"
        class="mmqTFyUxpRpj "
        style="--ta:left;--mt:0px;--ml:0px;--mb:20px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:37px;--size-tablet:41px;--size-mobile:36px;--c:rgb(0, 0, 0);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gmmqTFyUxpRpj_text }}</h2>
      </div>
    </div>
  <gp-button style="">
  <div
    
    style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
    class=""
  >
    <style>
    .riIYniwAAFQk.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .riIYniwAAFQk:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="riIYniwAAFQk" aria-label="SHOP NOW"
      
      data-state="idle"
      class="riIYniwAAFQk gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-bg-g-highlight"
      style="--bg:rgb(46, 99, 12);--hvr-bg:var(--g-c-highlight, highlight);--radius:var(--g-radius-small);--shadow:none;--c:rgb(253, 253, 253);--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--tt:default;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:18px;--size-mobile:16px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.griIYniwAAFQk_label }}
      </span>
    </button>
  </div>
  </gp-button>

    </div>
    </div>
  
    
    </div>
    </div>
  
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 13",
    "tag": "section",
    "class": "gps-520218086943491171 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/8c382c-87/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=520217924036723592&sectionId=520218086943491171)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"gPBlBuJYUnxfA_text","label":"gPBlBuJYUnxfA_text","default":"1234567"},{"type":"html","id":"gmmqTFyUxpRpj_text","label":"gmmqTFyUxpRpj_text","default":"Willo Hair Growth Support."},{"type":"html","id":"griIYniwAAFQk_label","label":"griIYniwAAFQk_label","default":"SHOP NOW"}],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
